.tabbedBar .sapMITBHead {
    text-align: center;
}

/* Enter your custom styles here */
.border {
    border: 1px solid orange
}

.border2 {
    border: 1px solid green
}

.labels {
    min-width: 120px
}

.separador {
    border: 1px black solid;
    background-color: #fff;
    margin-bottom: 5px;
    padding: 5px;
}

.mainFrame {
    padding-bottom: 5px;
    border-bottom: 1px solid black;
}

.separadorSimple {
    border: 1px black solid;
    margin-bottom: 10px;
}

.btn {
    min-width: 80px;
}

.HBoxContainer {
    width: 100%;
    align-items: center;
    gap: 5px;
}

.HBoxWrapper {
    width: 50%;
    align-items: center;
    justify-content: space-between;
}


.sapUiFormM:not(.sapUiFormEdit) .sapUiFormResGridCont {
    background-color: #f7f7f7;
    padding: 5px;
    margin-bottom: 10px;
}

.FlexForm {
    background-color: #f7f7f7;
    padding: 10px;
    margin: 5px;
}

.sapUiRespGridMedia-Std-Desktop.sapUiFormResGridMain>div:not(.sapUiRespGridSpanL12):not(.sapUiFormResGridLastContL) {
    padding-right: unset;
}

.container {
    width: 1000px;
    background-color: blue;
}

/* Enter your custom styles here */
/* Enter your custom styles here */
.tabbedBar .sapMITBHead .sapMITH {
    text-align: center;
}

.btn {
    min-width: 80px;
}

.sapUiFormM:not(.sapUiFormEdit) .sapUiFormResGridCont {
    background-color: #d0d5d8;
    padding: 5px;

}

.backForm {
    background-color: #fff;
}

.sapUiRespGridMedia-Std-Desktop.sapUiFormResGridMain>div:not(.sapUiRespGridSpanL12):not(.sapUiFormResGridLastContL) {
    padding-right: unset;
}

.border {
    border: solid orange 1px;
    background-color: rgb(211, 205, 205);

}

.sapUiForm .sapMCbBg {
    left: 7px;
}

.title {
    color: black;
}

.subtitle {
    color: black;
}

.sapMListTbl .sapMVBox {
    background-color: rgb(211, 205, 205);

}

.TabBackground {
    background-color: #FFF;
}

.containerDialog {
    width: 1300px;
}

.sapMITBContent {
    padding: unset;
    background-color: unset;
}

.sapMITBItem {
    font-weight: bold;
}