.tabbedBar .sapMITBHead {
    text-align: center;
}

/* Enter your custom styles here */
.border {
    border: 1px solid orange
}

.border2 {
    border: 1px solid green
}

.labels {
    min-width: 120px
}

.separador {
    border: 1px black solid;
    background-color: #fff;
    margin-bottom: 5px;
    padding: 5px;
}

.mainFrame {
    padding-bottom: 5px;
    border-bottom: 1px solid black;
}

.separadorSimple {
    border: 1px black solid;
    margin-bottom: 10px;
}

.btn {
    min-width: 80px;
}

.HBoxContainer {
    width: 100%;
    align-items: center;
    gap: 5px;
}

.HBoxWrapper {
    width: 50%;
    align-items: center;
    justify-content: space-between;
}


.sapUiFormM:not(.sapUiFormEdit) .sapUiFormResGridCont {
    background-color: #f7f7f7;
    padding: 5px;
    margin-bottom: 10px;
}

.FlexForm {
    background-color: #d3d3d33d;
    border-radius: .25rem;
    padding: 5px;
    margin: 5px;
}

.sapUiRespGridMedia-Std-Desktop.sapUiFormResGridMain>div:not(.sapUiRespGridSpanL12):not(.sapUiFormResGridLastContL) {
    padding-right: unset;
}

.tabbedBar .sapMITBHead .sapMITH {
    text-align: center;
}
.sapMITH{
  background-color:  transparent !important;
}

.sapMITBContent{
padding: 1rem 5px ;
} 

.btn {
    min-width: 80px;
}

.sapUiFormM:not(.sapUiFormEdit) .sapUiFormResGridCont {
    background-color: #d0d5d8;
    padding: 5px;

}

.backForm {
    background-color: #fff;
}

.sapUiRespGridMedia-Std-Desktop.sapUiFormResGridMain>div:not(.sapUiRespGridSpanL12):not(.sapUiFormResGridLastContL) {
    padding-right: unset;
}

.border {
    border: solid orange 1px;
    background-color: rgb(211, 205, 205);

}

.sapUiForm .sapMCbBg {
    left: 7px;
}



.subtitle {
    color: black;
}

.sapMListTbl .sapMVBox {
    background-color: rgb(211, 205, 205);

}


.sapMITBItem {
    font-weight: bold;
}

.general-ctn {
    padding: 10px;
    background: #F5FCFF;
    border-radius: 10px;
    margin: 5px;
}

.normalizacion-ctn {
    padding: 10px;
    background: #FFFAF2;
    border-radius: 10px;
    margin: 5px;
}

.normalizacion-title {
    font-weight: 600;
    font-size: 17px;
    /* background-color: #ffda9e; */
    border-radius: 5px;
    padding:10px;
}

.pruebas-ctn {
    padding: 10px;
    background-color: #F1FDF5;

    font-weight: 600;
    margin: 5px;
}

.pruebas-title {
    font-weight: 600;
    background-color: #d8f8e1;
}



.wrapper {
    width: 100%;
    max-width: 1600px;
    margin: auto;
    padding: 10px;
    border:solid 1px black;
    border-radius: 5px;
    
}

.container {
    width: 100%;

    justify-content: space-between;
    padding: 5px;
}

.sapMInputBaseContentWrapper {
    border-radius: 8px;
}

.title {
    font-weight: 600;
}

.halfConte {
    width: 50%;
    padding: 10px;

    border-radius: 10px;
    margin: 2px;
}

.checkBox {
    font-weight: 500;
}

.cmbLG {
    min-width: 100%;
}

.cmbMD {
    width: 300px !important;
    max-width: 300px !important;
}

.btn {
    padding: 20px;
}

.sapMPanelContent {
    padding: 0;
}

.HBoxContent {
    align-items: center;
    justify-content: space-between;
    width: 300px;
}

.border_ctn {
    border-radius: 10px;
    border: solid 1px grey;
}

.border_ctn_2 {
    border-radius: 10px;
    border: solid 1px grey;
    background-color: #FFF;
    padding: 10px;
}

.border_ctn_3 {
    border-radius: 10px;
    border: solid 1px grey;
    background-color: gainsboro;
     padding: 10px;
}

.border_ctn_3 .sapMHBox  {
   gap:10%
}

.paddingSM{
    padding: 10px;
}

.IconTitle .sapMITBText span{
font-size: 17px;
}